rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Replace YOUR_FIREBASE_USER_UID with the UID of the one account
    // you create in Firebase Authentication.
    match /users/{userId}/players/{playerId} {
      allow read, create, update, delete:
        if request.auth != null
        && request.auth.uid == userId
        && request.auth.uid == "s340Ue4RdxPig0j7DRP5FcKDaxF3";
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
